
body {
  background-color: #f7f7f7;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  background-color: gold;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#order-summary {
  margin-top: 30px;

}



#summary-total {
  background-color: #0096FF;
}

.form-container h2 {
  background-color: aqua;
}